<mat-card class="schedule-card">
    <div class="table-wrapper" #tableToExport id="tableToExport" style="overflow: visible; width: auto; height: auto;">
        <table class="schedule-table">
            <caption>Horario de {{ formattedDate }}</caption>
            <thead>
                <tr>
                    <th scope="col" class="employee-header">Empleado</th>
                    <th *ngFor="let slot of timeSlots" scope="col">
                        <div class="rotated-text">{{ slot }}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of scheduleData">
                    <th scope="row" class="employee">{{ row.employeeName }}</th>
                    <td *ngFor="let slot of timeSlots">
                        <div [class.active]="row.timeSlots?.includes(slot)"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button mat-raised-button color="primary" (click)="exportToPDF()">Exportar PDF</button> <!-- 👈 Botón -->
</mat-card>